#title {
  background: url(comp-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 105vh;
  margin: 0;
  padding: 0;
}


h1,
h2,
h3 {
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin-top: 0;
}

#bio {
  background: url(biobg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 105vh;
}

#bio h1 {
  font-size: 3em;
}

#portfolio {
  background: url(portfoliobg.jpg) no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  height: 105vh;
}

#portfolio h1 {
  font-size: 3em;
}

.bioinfo {
  text-align: center;
  font-family: 'Arvo', serif;
  font-weight: 400;
  margin: 0 250px;
}

body {
  color: white;
  margin: 0;
}

.screenshots {
  border: thin solid yellow;
  max-width: 300px;
  list-style-type: none;
  margin: auto;
}

.screenshots img {
  max-width: 300px;
}

.name {
  padding-top: 175px;
  font-size: 3em;
}

.nav-links {
  position: fixed;
  top: 20px;
  right: 10px;
  margin: 0 auto;
  text-align: right;
}

.nav-link {
  display: inline-block;
  width: 4em;
}

.nav-link a {
  text-decoration: none;
  color: white;
}

.nav-link img:hover {
  opacity: .5;
}

.icon {
  max-width: 4em;
}

.scroll-links a {
  text-decoration: none;
  color: white;
}
